section.section{
    img{
        bottom: 4px solid #fff6;
        border-radius: 50%;
        margin: 2rem auto;
        display: flex;
        filter: grayscale(1);
        transition: all 0.5s ease-in;
        width: 280px;
        &:hover {
            filter: grayscale(0);
            transform: rotateY(-180deg) scale(1.2);
        }
    }
}