.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 239px;
    background: url(../img/fondo.png);
}

.form{
    display:flex;
    flex-direction:column;
    width:200px;
    padding:15px;

    background:rgba(0,0,0,0.5);
    border-radius:10px;
text-align-last: left;
    backdrop-filter: blur(4px);
}

.form label{
    font-size:12px;
    color:white;
    margin-top:8px;
}

.form input{
    margin-top:4px;
    padding:6px;
    border-radius:6px;
    border:none;
    outline:none;

    font-size:12px;
}

.form input:focus{
    box-shadow:0 0 4px #3FCD03;
}

.actions{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
}

.actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border:none;
    border-radius:6px;
    padding:6px 10px;
    font-size:12px;
    cursor:pointer;
    width: 96px;
    height: 46px;
}

.actions button:first-child{
    background:#3FCD03;
    color:white;
}

.actions button:last-child{
    background:#DE0000;
    color:white;
}

.actions button:hover{
    opacity:0.9;
    transform:scale(1.05);
    transition:0.2s;
}