@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body ------------------------*/
body {
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100dvh;

    /* main ------------------------*/
    main {
        &::-webkit-scrolbar{
            display: none;
        }

        border-radius: 5px;
        background-color: #16921c;
        position: relative;
        overflow: auto;
        height: 526px;
        width: 246px;

        /* Hide */
        &.hide {
            display: none;
        }

        /* h2 */
        h2 {
            font-weight: 400;
            margin-left: 0.6rem;
        }

        /* Login ------------------*/
        &#login {
            background: url(../img/bg-login.png) no-repeat center;
            background-size: cover;

            /* Formulario ------------------*/
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                padding: 0 1.3rem;
                bottom: 8rem;
                gap: 1rem;

                label {
                    display: flex;
                    flex-direction: column;

                    input {
                        border: none;
                        font-family: Poppins;
                        border-radius: 5px;
                        height: 38px;
                        outline: none;
                        text-indent: 0.4rem;
                        width: 200px;

                        &::placeholder {
                            color: #00000098;
                        }

                    }
                }

                button {
                    background-color: #133405b2;
                    border: none;
                    border-radius: 5px;
                    font-family: Poppins;
                    color: #fff;
                    width: 200px;
                    height: 38px;
                    transition: transform 0.4s ease-in;

                    &:hover {
                        transform: scale(1.05);
                        background-color: #133405e5;
                    }
                }
            }
        }

        /* Dashboard ----------*/
        &#dashboard {
            background: url(../img/bg-dashboard.png) no-repeat center;
            background-size: cover;

            nav {
                padding-top: 4rem;
                display: flex;
                justify-content: space-around;

                a:link,
                a:visited {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    width: 84px;
                    text-decoration: none;
                    height: 31px;
                    transition: 0.2s ease-in;

                    &.btnAdd {
                        background-color: #40cd03b2;
                    }

                    &.btnLogout {
                        background-color: #de000098;
                    }

                    &:hover {
                        transform: scale(1.025)
                    }
                }

            }

            section.list {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 0.4rem;
                align-items: center;
                margin-bottom: 1rem;

                div.row {
                    &:nth-child(even) {
                        background-color: #387D1B;
                    }

                    background-color: #234D11;
                    border-radius: 5px;
                    display: flex;
                    gap: 0.4rem;
                    padding: 0.2rem;
                    height: 34px;
                    width: 226px;

                    div.data {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        width: 190px;

                        h3 {
                            font-size: 12px;
                            font-weight: 500;
                            margin: 0;
                        }

                        h4 {
                            font-size: 10px;
                            font-weight: 400;
                            margin: 0;
                        }
                    }

                    nav.actions {
                        padding-top: 0;
                        display: flex;
                        gap: 0.2rem;

                        a:link,
                        a:visited {
                            height: 20px;
                            width: 20px;

                            &.btn-show {
                                background: url(../img/view-pet.png) no-repeat center;
                            }

                            &.btn-edit {
                                background: url(../img/edit-pet.png) no-repeat center;
                            }

                            &.btn-delete {
                                background: url(../img/delete-pet.png)no-repeat center;
                            }
                        }
                    }
                }
            }
        }

        &#add,
        &#edit {
            background: url(../img/bg-dashboard.png) no-repeat center;
            background-size: cover;
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                padding: 0 1.3rem;
                top: 3.2rem;
                gap: 0.5rem;

                label {
                    display: flex;
                    flex-direction: column;
                    color: #ffffffce;
                    input,textarea {
                        border: none;
                        font-family: Poppins;
                        border-radius: 5px;
                        height: 20px;
                        outline: none;
                        text-indent: 0.4rem;
                        width: 200px;

                        &::placeholder {
                            color: #00000098;
                        }

                    }
                    textarea{
                        height: 80px;
                        text-indent: 0;
                    }
                }

                div.actions{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 200px;
                    button {
                        background-color: #1aad52;
                        border: none;
                        border-radius: 5px;
                        font-family: Poppins;
                        color: #fff;
                        width: 90px;
                        height: 34px;
                        transition: transform 0.4s ease-in;
    
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    a:link,a:visited{
                        background-color: #EE2F2F;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90px;
                        height: 34px;
                        border-radius: 5px;
                        font-family: Poppins;
                        color: #fff;
                    }
                }

            }
        }


        &#show {
            background: url(../img/bg-dashboard.png) no-repeat center;
            background-size: cover;
            display: flex;
            .imagen{
                display: flex;
                width: 100px;
                height: 100px;
                margin-top: 4rem;
            }
        }


        /* Header ----------------*/
        header {
            background-color: #133405;
            border-radius: 5px 5px 0px 0px;
            position: fixed;
            display: flex;
            width: 246px;
            justify-content: center;
            align-items: center;
            height: 50px;

            a:link,
            a:visited {
                display: flex;
                position: absolute;
                left: 0.4rem;
                transition: transform 0.2s ease-in;
            }

            a:hover {
                transform: translateX(-4px);
            }
        }
    }
}


main.animateView {
    animation: animateView 0.4s ease-in 1;
}

@keyframes animateView {
    0% {
        opacity: 0;
        transform: scale(.6)
    }
}